.App {
  display: flex;
  justify-content: center;
  margin: 200px;  
}

.form-control {
  margin-bottom: 20px;
}

.themeContainer {
  background-color: yellowgreen;
}

.formLabelContainer {
  font-family: 'Dancing Script', cursive;
}

.iconButtonContainer {
  margin: 25px;
  float: right;
  color: grey;
  background-color: whitesmoke;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.iconButtonContainer:focus {
  color: black;
}

.input-container {
  display: flex;
  align-items: inherit;
  padding: 50px;
}

.inputFields {
  width: 100%;
  padding: 5px;
  justify-content: space-between;
}
